*{
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #F5F5F5;
  font-size: 95%;
  line-height: 150%;
  text-align: center;
  color: #333333;
  margin: 0px;
}
div#page {
  text-align: left;
  border: 1px solid #333333;
  background: #FFFFFF;
}
div#head {
  text-align: left;
  margin:0 auto 0 auto;
  background-color: #245386;
}
div#head a{
  text-decoration: none;
}
#head h1{
  padding:30px;
  margin:0px;
  font-size:30px;
  color:#FFFFFF;
}
div#menu {
  height: 2em;
  padding: 0.5em 0px 0px;
  background: #245386;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}
div#menu ul{
  margin: 0px;
  padding: 0px;
}
div#menu li{
  float: left;
  padding: 0px;
  margin-left: 10px;
  color: #FFFFFF;
  list-style: none;
}
div#menu a{
  color: #FFFFFF;
  text-decoration: none;
}
div#menu a:hover{
  color: #000000;
  background: #D7E1EC;
}
div#currentmenu {
  color: #000000;
  background: #D7E1EC;
}
div#main {
  margin: 0px;
  border-left: 1px solid #CCCCCC;
  padding: 20px 0px;
  background: #FFFFFF;
  width: 75%;
  float: left;
  border-right: 1px solid #CCCCCC;
}
div#main p{
  margin: 0px 0px 20px 40px;
}
div#main ul{
  margin-left: 60px;
  margin-bottom: 1em;
  margin-right: 30px;
}
div#submenu {
  width: 20%;
  margin: 5px 0px 0px 5px;
  padding: 10px 0px;
  float: left;
}
div#submenu ul{
  margin: 0px 0px 0px 5px;
  list-style: circle;
  padding-left: 2em;
}
div#submenu p{
  margin: 0px 10px 10px;
}
div#foot {
  border-top: 1px solid #333333;
  padding: 0px;
  text-align: center;
  clear: both;
  margin: 0px;
}
div#foot p{
  margin: 5px 0px;
}
h2 {
  margin: 20px 0px 10px 20px;
}
h3 {
  margin: 5px 0px 5px 22px;
}
h4 {
  margin: 5px 0px 5px 25px;
}
strong {
  color: #CC3333;
}
dl {
  margin: 0px 0px 50px 40px;
}
dt {
  font-weight: bold;
}
dd {
  margin-bottom: 10px;
}
.note {
  font-size:11px;
}
